@require '../../../style/colors.styl';

#overlay
  #starting-screen
    position relative
    background-color $panelBackgroundColor
    display flex
    margin 1em
    padding 1em 1em 3em 1em
    border 1px solid rgba($shadowColor,0.2)
    box-shadow 0 5px 15px rgba($shadowColor,0.5)

    #login-links
    #logout-links
      position absolute
      top 1.5em
      right 4em

    #new-project-buttons
      flex-wrap nowrap
      flex-direction column

    #logo
      position relative
      left -1em
      width 20em
      height 4em

    #welcome-section
      position relative
      flex-grow 1
      display flex
      flex-direction column
      flex-wrap wrap
      align-items center
      margin-top 2em

      .text-chunk
        position: relative;

        img
          position absolute;
          top calc(50% - 1.5em)
          width 3em
          height 3em

        p
          max-width 30em

      .text-chunk:nth-child(odd) img
        left 31em

      .text-chunk:nth-child(even) p
        position relative;
        left 4em;
