@import '../../../style/colors.styl';

/*
  Girder's (and Bootstrap's) massive stylesheets interfere with
  Resonant Lab's styles in lots of places. Instead, while
  we essentially use some of Girder's views in place, we adapt
  the styles to fit our app
*/

#overlay
  .modal-dialog
    position absolute
    height auto
    left calc(50% - 17em)
    width 30em
    text-align center
    top calc(50% - 16em)
    padding 2em 4em 2em 4em

  a
    cursor pointer

  .modal-footer a.btn
    background-color white
    padding 0.5em 1em
    line-height 1em
    cursor pointer
    border-radius 4px
    color $darkTextColor
    font-family "Source Sans Pro", "Helvetica", "Arial", sans-serif
    text-transform uppercase
    letter-spacing 1px
    font-weight 400
    font-size 0.75em
    border solid 1px #ccc
    background-position center bottom

  .modal-form
    display flex
    flex-direction column
    justify-content space-around

  .modal-body
    display flex
    flex-direction column
    align-items flex-end
    justify-content space-around

  .modal-footer
  .bottom-message
  .validation-failed-message
  .form-group
    display flex
    align-items center
    margin 0.5em 0em

  .form-group input
    width 22em

  .bottom-message
  .validation-failed-message
    text-align left
    width 100%
    flex-wrap wrap
    font-size 0.75em

  .validation-failed-message
    color $errorNotificationColor

  .modal-footer > *
  .bottom-message > *
  .validation-failed-message > *
  .form-group > *
    margin 0em 0.5em
    white-space nowrap

  .modal-footer
    justify-content flex-end
