@require '../../../style/colors.styl'

#header
  position absolute
  left 0px
  top 0px
  width 100%
  height 3em
  background linear-gradient(2deg,
    $pageHeaderDarkColor,
    $pageHeaderLightColor 65%,
    $pageHeaderLightColor)
  color $lightTextColor
  display flex
  flex-direction row-reverse
  align-content center
  align-items center
  justify-content space-between

  img.header-button
    width: 1.5em;
    height: 1.5em;
    margin: 0.75em;
    cursor: pointer;
    -webkit-filter: img-color-filter($defaultLightIconColor);
    filter: img-color-filter($defaultLightIconColor);

  .branding-icons img
    -webkit-filter img-color-filter($defaultLightIconColor);
    filter img-color-filter($defaultLightIconColor);
    width 10em;
    height 2em;
    margin 0.25em;

  .branding-icons img:hover
    /* Sneakiness here: we *remove* the color filter,
       so the native icon colors show through */
    -webkit-filter url(#drop-shadow);
    filter url(#drop-shadow);

  .interface-icons
    padding-right 0.25em;

  .project-header
    display flex;
    align-items center;
    padding-left 0.25em;

  .project-header .project-icons
    display inherit;

  .project-name
    background-color inherit;
    color inherit;
    border none;
    margin 0.75em;
    text-align center;
    box-shadow none;

  img.header-button.new
    -webkit-filter img-color-filter($newInfoIconColor);
    filter img-color-filter($newInfoIconColor);

  img.header-button:hover
    -webkit-filter img-color-filter($lightRolloverColor) url(#drop-shadow);
    filter img-color-filter($lightRolloverColor) url(#drop-shadow);

  div.indicators
    position relative;
    width 0px;
    height 0px;

  div.indicators img
    position absolute;
    width 1em;
    height 1em;
    top 0.5em;

  div.indicators img.left
    left -3em;

  div.indicators img.right
    left -1em;
